//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bootswatch/slate/stylesheets/bootstrap";


@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootswatch-sass/slate/variables";
// fix for scope	
$thumbnail-bg:                $well-bg;
$thumbnail-border:            $well-border;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch-sass/slate/bootswatch";

* { outline: none; }

.jw-tab-focus:focus, .jwplayer:focus, .jwplayer .jw-swf {
    outline: none !important;
}

body	{
	padding-top: 70px;
}

.fa-btn {
            margin-right: 6px;
        }

       .vertical-align {
    display: flex;
    align-items: center;
}

.dropzone {
	border: 0;
	border-radius: 4px;
	min-height: 115px;
}

#draggablePanelList .panel {
        cursor: move;
    }